<html>
        <body>
        <h1>hello from <%= node["hostname"] %>! </h1>
        <p> <h1>

          this server has <%= node["memory"]["total"].to_i / 1024 %> Mb memory.
		  
		  </h1> </p>
		
		</body>
		
</html>		
		